version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: order-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: order_service_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  order-service:
    build: .
    container_name: order-service-app
    ports:
      - "8082:8082"
    environment:
      DB_URL: jdbc:postgresql://postgres:5432/order_service_db
      DB_USERNAME: postgres
      DB_PASSWORD: password
      APPLICATION_CONFIG_USERS_URL: http://host.docker.internal:8081
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data: