name: Order Service CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build-test-and-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'


      - name: Run Unit and Integration Tests
        run: mvn clean verify


      - name: Build Docker Image
        run: docker build -t order-service:latest .

      - name: Save Docker Image to File
        run: docker save order-service:latest > order-service-image.tar

      - name: Upload Docker Image Artifact
        uses: actions/upload-artifact@v4
        with:
          name: order-service-docker-image
          path: order-service-image.tar
          retention-days: 1