name: Order Service CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build-test-and-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build and Test with Maven
        run: mvn clean verify

      - name: Upload JAR Artifact
        uses: actions/upload-artifact@v4
        with:
          name: order-service-jar
          path: target/*.jar
          retention-days: 1

      - name: Build Docker Image
        run: docker build -t order-service:latest .

      - name: Check Docker Image
        run: docker images | grep order-service